<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalle Comercial</title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
<div class="container mx-auto px-4">
    <div class="flex flex-row py-4 items-center border-b-2 p-2">
        <div class="basis-1/2 text-4xl">
            <h1>Detalle Comercial</h1>
        </div>
        <form class="basis-1/2 flex justify-center" action="/comerciales" >
            <button class="btn btn-gray float-right">Volver</button>
        </form>
    </div>
    <div class="flex flex-row my-0.5">
        <div class="basis-1/2">
            <label>Nombre</label>
        </div>
        <div class="basis-1/2">
            <input class="shadow appearance-none border rounded w-1/2 py-2 px-3 text-gray-700 leading-tight" th:value="${comercial.nombre}" value="Nombre" readonly="readonly"/>
        </div>
    </div>
    <div class="flex flex-row my-0.5">
        <div class="basis-1/2">
            <label>Apellido 1</label>
        </div>
        <div class="basis-1/2">
            <input class="shadow appearance-none border rounded w-1/2 py-2 px-3 text-gray-700 leading-tight" th:value="${comercial.apellido1}" value="Apellido 1" readonly="readonly"/>
        </div>
    </div>
    <div class="flex flex-row my-0.5">
        <div class="basis-1/2">
            <label>Apellido 2</label>
        </div>
        <div class="basis-1/2">
            <input class="shadow appearance-none border rounded w-1/2 py-2 px-3 text-gray-700 leading-tight" th:value="${comercial.apellido2}" value="Apellido 2" readonly="readonly"/>
        </div>
    </div>
    <div class="flex flex-row my-0.5">
        <div class="basis-1/2">
            <label>Comisión</label>
        </div>
        <div class="basis-1/2">
            <input class="shadow appearance-none border rounded w-1/2 py-2 px-3 text-gray-700 leading-tight" th:value="${comercial.comision}" value="Comisión" readonly="readonly"/>
        </div>
    </div>

    <div  th:each="producto : ${listaProductos}" style="margin-top: 6px;" class="clearfix">
        <div style="float: left;width: 14%" th:text="${comercial.id}">0</div>
        <div style="float: left;width: 14%" th:text="${comercial.nombre}">nombre</div>
        <div style="float: left;width: 14%" th:text="${comercial.apellido1}">apellido1</div>
        <div style="float: left;width: 14%" th:text="${comercial.apellido2 ?: '&nbsp;'}">apellido2</div>
        <div style="float: left;width: 14%" th:text="${comercial.comision}">comisión</div>
        <div style="float: none;width: auto;overflow: hidden;">
            <form th:action="@{/comerciales/__${comercial.id}__}" style="display: inline;">
                <input type="submit" value="Ver Detalle" />
            </form>
            <form th:action="@{/comerciales/editar/}+${comercial.id} " style="display: inline;">
                <input type="submit" value="Editar" />
            </form>
            <form th:action="@{/comerciales/borrar/__${comercial.id}__}" method="post" style="display: inline;">
                <input type="submit" value="Eliminar" />
            </form>
        </div>
    </div>
</div>
</body>
</html>